.studentDiv {
  border: 1px solid gray;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 35px 0 35px;
  border-radius: 10px;
  background-color: #ccccff !important;
}

.studentDiv .studentHeading {
  font-size: x-large;
  font-weight: 600;
  margin: 1em 1em 1em 1.5em;
}

.studentDiv .formlabel {
  font-size: large;
  font-weight: 600;
  margin: 0.5em 0 0.5em 4.5em;
}

.studentDiv .inputbox {
  width: 230px !important;
  padding: 0.4em;
  border: 1px solid gray;
  font-size: 1em;
  margin: 0 2px 0 2px;
  border-radius: 8px;
}

.studentDiv .submitBtn {
  font-size: medium;
  font-weight: 600;
  margin: 1em 0 1em 5em;
  padding: 0.3em;
  border-radius: 8px;
}

@media screen and (max-width: 587px) {
  .studentDiv .studentHeading {
    font-size: large;
  }
}
